{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "eol-last": 1,
    "quotes": [0, "single", { "avoidEscape": true }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
