coverage
dist/*

node_modules
*.log
.*
!*/*.babelrc.js
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.gitlab-ci.yml
!.npmignore
!.storybook
!.npmrc
!.prettierignore
!.prettierrc

cypress/screenshots

# Local Netlify folder
.netlify
.gitignore
