.key-features {
  padding-top: 6.875rem;

  &__container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  &__icon {
    color: #FF700A;
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 2;
    top: -0.625rem;
    left: -0.625rem;
    
    &-container {
      position: relative; 
      
      span {
        background-color: #EAECEE;
        z-index: 1;
        width: 3rem;
        height: 3rem;
        display: block;
        border-radius: 50%;
      }
    }
  }

  &__header {
    font-size: 1.125rem;
    font-family: 'Lato';
    font-weight: 700;
    text-transform: none;
    line-height: 1.66666em;
    margin-top: 1.875rem;
    margin-bottom: 0.9375rem;
    color: #2C3E50;
  }

  &__body {
    font-size: 1.125rem;
    font-weight: 300;
    font-family: 'Lato',Arial,sans-serif;
    line-height: 1.875rem;
    color: #556677;
  }
}
