@import '/src/global-styles/_variables';

.booking-reservation {
  &__box {
    border-right: 0.0625rem solid $gray-200;
    border-bottom: 0.0625rem solid $gray-200;
    padding: 1.25rem;
    height: 100%;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__label {
    color: #778591;
  }
}
