// Custom Variables

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Color system

// scss-docs-start gray-color-variables
$gray-100: #f6f6f6 !default;
$gray-600: #778591 !default;
$gray-700: #556677 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:      "Lato";
$font-family-monospace:       "Lato";

// Links
//
// Style anchor elements.

$link-color:                              $gray-700 !default;
$link-decoration:                         none !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   none !default;