// Custom Variables

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Color system

// scss-docs-start gray-color-variables
$gray-100: #f6f6f6 !default;
$gray-600: #778591 !default;
$gray-700: #556677 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:      "Lato";
$font-family-monospace:       "Lato";

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $h1-font-size !default;
$h5-font-size:                $font-size-base * 1.125 !default;

$headings-line-height:        1.5 !default;

// Links
//
// Style anchor elements.

$link-color:                              $gray-700 !default;
$link-decoration:                         none !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   none !default;