// Custom Variables

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Color system

// scss-docs-start gray-color-variables
$gray-100: #f6f6f6 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:      "Lato";
$font-family-monospace:       "Lato";