@import '/src/global-styles/_variables';

.header-top__contact-details {
  color: $gray-600;
  font-size: $spacing09375;

  &__el {
    padding-right: $spacing09375;
    margin-right: 1.5625rem;
  }

  &__icon {
    font-size: 1rem;
    padding-right: $spacing09375;
  }
}
