.header-top__contact-details {
  color: #778591;
  font-size: 0.9375rem;

  &__el {
    padding-right: 0.9375rem;
    margin-right: 1.5625rem;
  }

  &__icon {
    font-size: 1rem;
    padding-right: 0.9375rem;
  }
}
