@import '/src/styles/_variables';

.social-icons {
  &__el {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3125rem 0.625rem 0.3125rem 0rem;
  }

  &__icon {
    font-size: 1rem;
  }

  a {
    color: $gray-600;
    transition: all 200ms ease;

    &:hover {
      color: $gray-700;
    }
  }
}
