@import '/src/global-styles/_variables';

.header-middle {
  &__logo {
    max-width: 14.6875rem;
    max-height: 6.875rem;

    &-container {
      margin-right: 1.25rem;
      display: block;
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-item {
      margin-right: 2.8125rem;

      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      text-transform: uppercase;
      line-height: $secondary-line-height;
      color: $gray-700;
      font-size: 1rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      text-decoration: none;
    }
  }
}
