@import '/src/global-styles/Base';

.header-middle {
  &__logo {
    max-width: 14.6875rem;
    max-height: 6.875rem;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-toggler {
      width: 2.875rem;
      height: 2.875rem;
      border-width: 0.125rem;
      border-color: $gray-200;

      &:focus {
        box-shadow: none;
      }
    }

    &-item {
      padding: 0.9375rem 0;

      @include media-breakpoint-up(xl) {
        padding: 0 1.4063rem;
  
        &:last-child {
          padding-right: 0;
        }
      }

    }

    &-link {
      text-transform: uppercase;
      line-height: $secondary-line-height;
      color: $gray-700;
      font-size: 1rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      text-decoration: none;
    }
  }
}
