.header-bottom {
  &__wrapper {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-image: url('/src/assets/images/AutoRide-Banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__header, &__subheader {
    color: #fff;
  }
}
